<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453358659004-kk6dnhblj5inu7quh5c2g30dap82eshu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453358659004-kk6dnhblj5inu7quh5c2g30dap82eshu</string>
	<key>API_KEY</key>
	<string>AIzaSyD9nXwnTjTDp9NHzcc4Fu8uAugx3GYyxDw</string>
	<key>GCM_SENDER_ID</key>
	<string>453358659004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anhnd.TodoList</string>
	<key>PROJECT_ID</key>
	<string>todo-app-d8b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-d8b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453358659004:ios:d87460c10e88b2a26cf7b9</string>
</dict>
</plist>